<config>
  <host>0.0.0.0</host>
  <port>10099</port>
  <database>
    <url>mysql:jdbc:://localhost:3306/test?</url>
    <user>root</user>
    <password>root</password>
    <db>test</db>
  </database>
  <redis>
    <host>localhost</host>
    <port>6379</port>
    <db>0</db>
    <password>root</password>
  </redis>
</config>